.home-page-wrapper {
    background-color: #0066EE;
    height: 100%;
}

.home-page-header {
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0066EE ;
    width: 100%;
    z-index: 9999;
    transition: 0.5s;
    color: white;
}

.home-page-header.scrolled {

    background-color: white;
    transition: 0.5s;
    box-shadow: 0px 14px 86px -7px rgba(0,0,0,0.75);
    color:#0066EE
}

.home-page-body-slice {
    width: 100%;
    height: 70vh;
}

.header-title {
    margin-left: 20vw;
}

.title-login-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header-login-nav-button {
    margin-right: 20vw;
}
.login-logo-img {
    max-height: 2rem;
    max-width: 2rem;
    display: flex;
    justify-content: center;
}

.home-page-body {
    margin-top: 7vh;
    height: 100%;
}

#start-today-slice {
    height: 700px;
    background: linear-gradient(200.00deg, #0066EE 60%, #9383FB 100%);
}

.font-light {
    color: white;
}

.app-advert {

    padding-top: 5dvh;
    margin-left: 20vw;
    margin-right: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
}


.hero-phone-img {

    width: 250px;
    border-radius: 40px;
    filter: drop-shadow(20px 40px 30px rgba(0, 0, 0, 0.5));
}

.app-advert-text-and-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}


.navLink-get-started-link {
    text-decoration: none;
    margin-top: 50px;
    display: block;
    width: 115px;
    height: 25px;
    background: white;
    text-align: center;
    border-radius: 15px;
    color: #0066EE;
    font-weight: bold;
    line-height: 25px;
}

.navLink-get-started-link:hover {
    cursor: pointer;
    background: rgb(242, 242, 242);

}


.app-advert-h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.no1-exercise-app {
    color: #D8D8DC;
    font-size: 1rem;
    font-weight: 600;
}

.reach-your-goals {
    font-size: 5rem;
    font-weight: 800;
}

.with-myexerciseapp {
    font-size: 5rem;
    font-weight: 200;
}

.advert-tagline {
    font-size: 1.3rem;
    font-weight: 300;
}

#reviews {
    background-color: #151824;
    color: aliceblue;
}

.home-page-footer {
 
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    /* margin: auto; */
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev-next-container {
    display: flex;
    justify-content: space-between;
    width: auto;
    position: relative;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
  
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
