/* 
Charcoal = #28536B
Dark Purple = #28112B
Air Superiority Blue = #7EA8BE
Isabelline = #F6F0ED
Crimson = #D72638
*/

.user-dashboard-container {
    display: flex;
    justify-content: space-between;
}

.side-bar {
    width: 20vw;
    height: 100vh;
    /* border: 3px solid #28536B; */
    background: linear-gradient(200.00deg, #0066EE 60%, #9383FB 100%);
    color: #F6F0ED;
    display: flex;
    flex-direction: column;
}

.side-bar > nav {
    margin-bottom: 5%;
    height: 50%;
    max-width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}




nav ul li {
    transition: ease-in-out 0.2s;
    list-style: none;
    font-size: 1.5rem;
    border-radius: 15px;
    height: 3rem;
}

nav ul li:hover {
    transition: ease-in-out 0.2s;
    background-color: rgba(0,0,0,0.5);
    font-weight: 700;
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

nav ul li {
    display: flex;
    align-items: center;
}

.side-bar > .user-details {
    margin-bottom: 5%;
    margin-top: 5%;
}

.sidebar-nav-list-element {
    margin-left: 2rem;
}

#daily-entry-modal-button {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
   
    margin-top: -7px;
    margin-right: 7px;
    margin-left: 7px;

}

#daily-entry-modal-button:hover {
    cursor: pointer;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: scale(1.05);
  }


  #logout-button {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    margin-top: 10px;
    margin-right: 7px;
    margin-left: 7px;

}

#logout-button:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: scale(1.05);
  }

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}


.goals-tile-container {
    display: flex;
    width: 45%;
    height: 300px;
    min-height: 100%;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    transition: 0.5s ease-in-out;
    margin: 10px;
    overflow: hidden;
}

.goals-wrapper {
    overflow-y: auto;
}

.goals-tile-container:hover {
    transition: 0.5s ease-in-out;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: scale(1.05);
    margin: 10px;
    overflow-y: hidden;

}



